.contain {
    width: 100vw;
    height: 100vh;
    padding: 10 10 10 10;
}
table {
    width: 100%;
    margin-top: 15px;
}

.mat-form-field{
    font-size: 14px;
    width: 20%;

}

.chart {
    max-width: 500px;
    max-height: 400px;
}